# We have provided you with an API key but you can get your own from the website below
# Storage for nft.storage (IPFS) - https://nft.storage/docs/#get-an-api-token
NEXT_PUBLIC_NFT_STORAGE_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkaWQ6ZXRocjoweDU2OTE3RDFFMzI2NEY0ZTdERDhlNWNhMkVBODQ3M2E1MzZEMzEzNTEiLCJpc3MiOiJuZnQtc3RvcmFnZSIsImlhdCI6MTY1NjA2MTI5NzE5NiwibmFtZSI6Ik9wZW5Gb3JtYXROZXh0QmFzZSJ9.6lGSLBVGfx9egGKgGsyC9n1fgF161kdOCQhFk6-JTkw