body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

nav > ul {
  display: flex;
  list-style-type: none;
  gap: 6px;
  padding-left: 0;
  margin-left: 0
}
