.container {
  padding: 0 2rem;
}

.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.divider {
  display: flex;
  padding: 0.5rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.subtitle a:hover,
.subtitle a:focus,
.subtitle a:active {
  text-decoration: underline;
}

.subtitle {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.connectedButtonContainer {
  margin-bottom: 2rem;
}

.connectedButton {
  display: flex;
  justify-content: center;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.button {
  background-color: rgb(57, 215, 57);
  padding: 1rem 2rem;
  border-radius: 5%;
  font-size: 1.2rem;
  border: none;
  color: white;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(51, 189, 51);
}

.buttonDeploy {
  background-color: rgb(26, 189, 226);
  padding: 1rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  border: none;
  color: white;
}
.buttonDeploy:hover {
  cursor: pointer;
  background-color: rgb(23, 162, 181);
}

.link {
  color: #0070f3;
  text-decoration: none;
}

.input {
  background-color: #ffffff9c;
  border: 1.5px solid rgba(128, 128, 128, 0.447);
  padding: 1rem 0.5rem;
  min-width: 200px;
  border-radius: 0.2rem;
  height: 2rem;
}

.label {
  margin-top: 1.5rem;
  text-align: left;
}

.label::after {
  content: ":";
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: grid;
  grid-gap: 5px;
  width: 50%;
  border-radius: 0.2rem;
  padding: 3rem 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media (max-width: 1280px) {
  .form {
    width: 90vw;
    flex-direction: column;
  }
}

.ctaContainer {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 600px) {
  .ctaContainer {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.cta {
  padding: 2rem;
  margin: 1rem;
  height: 150px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 0.2rem;
}
.cta:hover {
  background-color: #f3f3f3;
}

.header {
  padding: 1.5rem;
  text-align: center;
}

.nftContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nft {
  display: flex;
  margin: 2rem 0;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 0.2rem;
}

.nftGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1280px) {
  .nftGrid {
    display: flex;
    flex-direction: column;
  }
  .nft {
    display: flex;
    padding: 2rem;
    width: 90vw;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 0.2rem;
  }
}

.listItem {
  list-style-type: none;
  margin-top: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0;
}

.yourContractHeading {
  color: rgb(57, 215, 57);
}

.yourContractButton {
  background-color: rgb(57, 215, 57);
  padding: 1rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  border: none;
  color: white;
}
.yourContractButton:hover {
  cursor: pointer;
  background-color: rgb(51, 189, 51);
}

.listItemHighlighted {
  background-color: rgba(51, 189, 51, 0.318);
  border: 1px solid transparent;
  border-radius: 4px;
}

.customFileInput::-webkit-file-upload-button {
  visibility: hidden;
}
.customFileInput::before {
  content: "Upload Image";
  display: inline-block;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
}
.customFileInput:hover::before {
  background-color: rgb(207, 207, 207);
}
.customFileInput:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 0;
}
